@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ ExtraBlack.otf");
  font-weight: 900;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Black.otf");
  font-weight: 800;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ ExtraBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Regular.otf");
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/tt_norms_pro/TT\ Norms\ Pro\ Thin.otf");
  font-weight: 100;
}
