@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select:focus {
  box-shadow: none !important;
}

html,
* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms Pro";
}

.common-frame-box {
  @apply max-w-[1440px] mx-auto xxl:px-20 md:px-10 xxs:px-5 px-2;
}

.uicolor {
  color: #7e3af2;
}

.uibg {
  background-color: #7e3af2;
}

li {
  list-style: none;
}

a.active {
  font-weight: 700;
  color: #7e3af2;
  text-decoration: underline;
}

.uibg {
  background-color: #7e3af2;
}