@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select:focus {
  box-shadow: none !important;
}

html,
* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.common-frame-box {
  @apply max-w-[1440px] mx-auto xxl:px-20 md:px-10 xxs:px-5 px-2
}